a {
    color: #b07daf;
}

* {
  box-sizing: border-box;
}


[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  /*background: #292828;*/
  background-color: rgb(0,0,0);
  color: white;
}

.middle {
    font-size: 4vh;
    margin: 0 auto;
    line-height: 1.25;
}

.detail {
    text-align: center;
    font-style: italic;
    font-size: 3vh;
    font-family: "Georgia";
    color: gray;
}

.back {
    font-size: 0.5em;
}

h1, h2 {
    text-align: center;
    font-family: "Georgia";
}

/* For mobile phones: */
.middle {
  width: 95%;
}

.middle p {
    margin-bottom: 2em;
}

.help {
    font-family: "Georgia";
    font-size: 0.5em;
    font-style: italic;
    color: white;
    margin-right: 10px;
}

.nav {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background: #3d3b3b;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  left: -20rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 20rem;
  z-index: 1;
}

.nav.expanded { left: 0; }

.nav ul {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 1vh;
  left: 2rem;
  position: fixed;
  top: 2rem;
  width: 5vh;
  z-index: 2;
}

.nav-toggle:hover { opacity: 0.8; }

.nav-toggle .nav-toggle-bar,  .nav-toggle .nav-toggle-bar::after,  .nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: gray;
  content: '';
  height: 1vh;
  width: 100%;
}

.nav-toggle .nav-toggle-bar { margin-top: 0; margin-right: 10px; }

.nav-toggle .nav-toggle-bar::after { margin-top: 0.8rem; }

.nav-toggle .nav-toggle-bar::before { margin-top: -0.8rem; }

.nav-toggle.expanded .nav-toggle-bar { background: transparent; }

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  background: white;
  margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media only screen and (min-width: 700px) {
  .middle {
    font-size: 5.5vh;
    width: 700px;
  }
}

.secondHelp {
    color: gray;
}